<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="containner m-10">
        <h1>Course ทั้งหมด</h1>
        <table class="table-auto border-separate border-spacing-2 border border-slate-500 ...">
            <thead>
              <tr>
                <th class="border border-slate-600">ลำดับ</th>
                <th class="border border-slate-600">ชื่อคอร์ส</th>
                <th class="border border-slate-600">ผู้สอน</th>
                <th class="border border-slate-600">รายละเอียด</th>
                <th class="border border-slate-600">แก้ไขคอร์ส</th>
              </tr>
            </thead>
            <tbody>
                <% var count = 1 %>
                <% for (const course of courses) { %>
                    <input type="text" hidden="false" value="test">
              <tr>
                <td class="border border-slate-700 ..."><%= count %></td>
                <td class="border border-slate-700 ..."><%= course.course_name %></td>
                <td class="border border-slate-700 ..."><%= course.name %></td>
                <td class="border border-slate-700 ..."><%= course.description %></td>
                <input type="hidden" value="<%= course.id %>" name="id">
                <td class="border border-slate-700 ..."><button type="submit" class="border"><a href="/edit-course/<%= course.id %>">edit</a></button></td>
                <td class="border border-slate-700 ..."><button type="submit" class="border"><a href="/delete-course/<%= course.id %>">delete</a></button></td>
              </tr>
              <% count++ %>
              <% } %>
            </tbody>

          </table>
    </div>
</body>
</html>