<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลงทะเบียนเรียน</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.tailwindcss.com/2.2.15/tailwind.min.css" rel="stylesheet">
</head>

<body class="min-h-screen bg-black">
    <nav id="navbar" class="fixed top-0 left-0 w-full bg-white transition-all duration-300">
        <nav class="bg-white border-gray-700 dark:bg-gray-900 ">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="https://www.kmitl.ac.th/sites/default/files/2022-03/kmitl%20science_1.png"
                    class="flex items-center">
                    <img src="https://www.kmitl.ac.th/sites/default/files/2022-03/kmitl%20science_1.png"
                        class="h-8 mr-3" alt="Flowbite Logo" />

                </a>
                <button data-collapse-toggle="navbar-default" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul
                        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">


                        <li>
                            <a href="/course-list"
                                class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-500 md:p-0 dark:text-white md:dark:hover:text-orange-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                                aria-current="page">Home</a>
                        </li>
                        <li>
                            <a href="/open-course"
                                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-orange-500"
                                aria-current="page">OpenCourse</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-500 md:p-0 dark:text-white md:dark:hover:text-orange-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </nav>

    <form action="/reg-course/<%= courses.id %>" method="post">
        <div class="relative flex items-center justify-center">
            <div class="bg-[#DD501C] w-full h-[250px] mt-[50px]"></div>
            <div class="absolute top-1/2 text-white text-4xl z-10">OPEN YOUR COURSE</div>
        </div>

        <div class="flex items-center mt-[100px] ml-[100px]">
            <img src="https://cdn0.iconfinder.com/data/icons/business-management-197/55/Books-512.png" alt="PNG trophy"
                class="w-14 h-14" />
            <div class="text-white text-4xl ml-4">ลงทะเบียนเรียน</div>
        </div>
        <div class="flex items-center mt-[30px] ml-[100px]">
            <img src="https://www.meetministry.org/media/commerce_products/117/home_study_course_store.jpg"
                alt="PNG course" class="w-[450px] h-[350px] mt-[40px] ml-[5px]" />
            <div class="flex flex-col items-start">
                <div>
                    <h1 class="text-white">ชื่อคอร์ส: <%= courses.course_name %>
                    </h1>
                </div>
                <div>
                    <h1 class="text-white">ผู้สอน: <%= courses.role %> <%= courses.lec_name %> (<%= courses.lec_nickname %>)</h1>
                </div>
                <div>
                    <h1 class="text-white">รายละเอียด: <%= courses.des %>
                    </h1>
                </div>
                <div>
                    <h1 class="text-white">ตำแหน่ง: <%= courses.role %>
                    </h1>
                </div>
                <div>
                    <h1 class="text-white">เนื้อหา: <%= courses.content %>
                    </h1>
                </div>

            </div>
        </div>
        
            <div class="flex items-center mt-[100px] ml-[100px]">
                <img src="https://cdn0.iconfinder.com/data/icons/business-management-197/55/Books-512.png"
                    alt="PNG trophy" class="w-14 h-14" />
                <div class="text-white text-4xl ml-4">ลงทะเบียนเรียน</div>
            </div>
            <div class="flex items-center mt-[30px] ml-[100px]">
                <img src="https://www.meetministry.org/media/commerce_products/117/home_study_course_store.jpg"
                    alt="PNG course" class="w-[450px] h-[350px] mt-[40px] ml-[5px]" />
                <div class="flex flex-col items-start">
                    <input type="text" name="name"
                        class="mt-[35px] ml-[50px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="ชื่อ-นามสกุล :">
                    <input type="text" name="nickname"
                        class="mt-[35px] ml-[50px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="ชื่อเล่น :">
                    <input type="text" name="student_id"
                        class="mt-[35px] ml-[50px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="รหัสนักศึกษา :">
                    <input type="text" name="years"
                        class="mt-[35px] ml-[50px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="ชั้นปี :">
                    <input type="text" name="contact"
                        class="mt-[35px] ml-[50px] w-[700px] h-[40px] bg-white text-black rounded-3xl p-4"
                        placeholder="ช่องทางติดต่อ :">
                </div>
            </div>

            <div class="flex flex-col items-start">
                <div class="rounded-none bg-[#EE7832] text-white mt-[60px] ml-[110px] p-1">สิ่งที่คาดหวัง
                    และฝากให้ผู้สอน :</div>
                <textarea
                    class="mt-[35px] ml-[110px] mb-[150px] w-[1200px] h-[200px] bg-white text-black rounded-2xl p-4"
                    name="expect" placeholder="สิ่งที่คาดหวัง และฝากให้ผู้สอน :"></textarea>
            </div>
            <div class="text-right mr-[200px] mt-[-120px]">
                    <button type="submit"
                        class="w-[120px] h-[39px] px-4 py-2.5 bg-amber-200 from-orange-600 to-yellow-400 rounded-full justify-center items-center gap-2 inline-flex">
                        <div class="text-black text-xl font-normal font-font-sans">ลงทะเบียน</div>
                    </button>
            </div>

    </form>


    <div class="containner m-10">
        <h1>Course ทั้งหมด</h1>
        <table class=" w-full">
            <thead class="bg-orange-600 border-b-2 border-grey-200">
              <tr>
                <th class="p-3 text-sm font-semibold ">ลำดับ</th>
                <th class="p-3 text-sm font-semibold border-white-600">รหัสนักศึกษา</th>
                <th class="p-3 text-sm font-semibold border-white-600">ชื่อ - นามสกุล</th>
                <th class="p-3 text-sm font-semibold border-white-600">ชื่อเล่น</th>
                <th class="p-3 text-sm font-semibold border-white-600">ชั้นปี</th>
              </tr>
            </thead>
            <tbody>
                <% var count = 1 %>
                <% for (const std of student) { %>
                    <input type="text" hidden="false" value="test">
              <tr class="bg-amber-100">
                <td class="border border-slate-700 ..."><%= count %></td>
                <td class="border border-slate-700 ..."><%= std.student_id %></td>
                <td class="border border-slate-700 ..."><%= std.name %></td>
                <td class="border border-slate-700 ..."><%= std.nickname %></td>
                <td class="border border-slate-700 ..."><%= std.years %></td>
              </tr>
              
              <% count++ %>
              <% } %>
            </tbody>

          </table>
    </div>

</body>

</html>